@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

/* SUMMARY */

/* 1. General classes */
/* 2. Vignettes */
/* 3. Sticker */
/* 4. Map */
/* 5. Button Classic */



/* -------------- 1. ------------- */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
}

li::marker{
    content: '';
}

a {
    text-decoration: none !important;
}

.overflow-x {
    overflow-x: auto; 
    overflow-y: hidden;
    white-space:nowrap;
}

.overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.w-90 {
    width: 90%;
}

.border-lg {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
}

.alert {
    font-size: x-large;
}

#containerPoste {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

#tbodyPoste{
    height: 300px;
    overflow: auto;
    width : 100%;
    display: block;
}

#tbodyEquipe{
    overflow: auto;
}

#tbodyEquipeProjet{
    height: 200px;
    width : 100%;
    display: block;
}

#modifEquipe {
    border-radius: 10px;
    border: 3px solid rgb(216, 214, 214);
    height: 800px;
    max-height: 800px;
    width : 25%;
    float : right;
    margin-left: 0%;
    margin-right: 5%;
    overflow: auto;
}

.infoEquipe
{
    margin-top : 5%;
    width : 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#leftNavBar{
    height: 95vh;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: white;
    /* background: linear-gradient(to bottom, black, white); */
}

.titreTable{
    background: linear-gradient(to right, rgba(0, 115, 255, 0.353),rgb(214, 230, 253));
}

.pageGererEntreprise{
    background: linear-gradient(to right,rgb(231, 239, 251), white);
}

.border-bottom {
    border-bottom: 1px rgb(216, 214, 214) solid;
}

.hover:hover{
    background-color: #eeeff0;
    cursor: pointer;
}


/* -------------- 2. ------------- */

.vignette {
    height: 85%;
    width: 85%;
    box-shadow:grey;
    box-shadow:  19px 19px 38px #727272,
    -19px -19px 38px #ffffff !important;
    border-radius: 45px !important;
}

#vignette0 {
    background: linear-gradient(145deg, #f0f0f0, #ffbf0f);
}
#vignette0:hover {
    background: linear-gradient(40deg, #f0f0f0, #ffbf0f);
}
#vignette0:active {
    background: linear-gradient(40deg, #ffbf0f,#f0f0f0);
}
#vignette1 {
    background: linear-gradient(145deg, #f0f0f0, #ff0202);
}
#vignette1:hover {
    background: linear-gradient(40deg, #f0f0f0, #ff0202);
}
#vignette2 {
    background: linear-gradient(145deg, #f0f0f0, #0099ff);
}
#vignette2:hover {
    background: linear-gradient(40deg, #f0f0f0, #0099ff);
}
#vignette3 {
    background: linear-gradient(145deg, #f0f0f0, #d400ff);
}
#vignette3:hover {
    background: linear-gradient(40deg, #f0f0f0, #d400ff);
}

.aVignette {
    color: black;
}

.aVignette:hover {
    color: black;
}

.vignette-img-container {
    height: 10vh;
    width:10vh;
    margin-top:9vh;
    margin-left:2vh;
}


/* -------------- 3. ------------- */

.sticker {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    height:60px;
}

.sticker-deep {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color: rgba(190, 190, 240, 0.125);
    height:60px;
}

.profile-sticker {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    height:100px;
}

.profile-section {
    border: solid rgb(190, 190, 190) 1px;
    
    border-radius: 15px;
}

/* -------------- 4. ------------- */

.project-column {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    min-width: 280px;
    width: 280px;
    margin-right: 20px;
    padding:unset;
}

.column-title {
    height: 50px;
    width: 100%;
    border-bottom: 1px rgb(216, 214, 214) solid;
    height: max-content;
    cursor: pointer;
}

.add-task-btn {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:5px;
    float:right;
    line-height: 80%;
}

.delete-col-btn {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:5px;
    float:right;
    line-height: 80%;
}

.column-content {
    height: 93%;
    overflow-y: auto;
}

.task-bubble {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:5px;
    background-color: white;
    height: 100px;
    width: 260px;
}

.task-bubble-input {
    height: 100%;
    width: 100%;
}

.task-bubble-input:focus,.task-bubble-input {
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.task-bubble-input:disabled {
    background-color: white;
}

.arrow-img-btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 47px;
    height: 38px;
    padding-top:4px;
}

.task-comment:focus {
    -webkit-appearance: none;
    outline: none;
}

.task-comment:hover {
    cursor: pointer;
    background-color: rgb(238, 239, 240);
}

.task-comment {
    width: 100%;
    background-color: #f8f9fa;
}

.comment-author {
    line-height: 70%;
    width:65%;
}

#task-members-container {
    width: 90%;
}

#task-title {
    outline: none;
    cursor: default;
    font-size: x-large;
    width: 100%;
}

#column-title {
    font-size: x-large;
    width: 100%;
}

.column-title-name {
    overflow-x: auto;
    font-size:large;
}


/* -------------- button classic. ------------- */

.btn-outline-classic {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.250);
}

.btn-outline-classic:hover {
color: rgba(0, 0, 0, 0.7);
background-color: #f3f3f3;
border-color: rgba(0, 0, 0, 0.500);
}
.btn-check:focus + .btn-outline-classic, .btn-outline-classic:focus {
box-shadow: 0 0 0 0.25rem rgba(36, 36, 36, 0.5);
}
.btn-check:checked + .btn-outline-classic, .btn-check:active + .btn-outline-classic, .btn-outline-classic:active, .btn-outline-classic.active, .btn-outline-classic.dropdown-toggle.show {
color: black;
background-color: #f3f3f3;
border-color: #f3f3f3;
}
.btn-check:checked + .btn-outline-classic:focus, .btn-check:active + .btn-outline-classic:focus, .btn-outline-classic:active:focus, .btn-outline-classic.active:focus, .btn-outline-classic.dropdown-toggle.show:focus {
box-shadow: 0 0 0 0.25rem rgba(36, 36, 36, 0.5);
}
.btn-outline-classic:disabled, .btn-outline-classic.disabled {
color: black;
background-color: transparent;
}