/* SUMMARY */

/* 1. General classes */
/* 2. Vignettes */
/* 3. Sticker */
/* 4. Map */



/* -------------- 1. ------------- */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
}

.overflow-x {
    overflow-x: auto; 
    overflow-y: hidden;
    white-space:nowrap;
}

.overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}

#containerPoste {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

#tbodyPoste{
    height: 300px;
    overflow: auto;
    width : 100%;
    display: block;
}

#tbodyEquipe{
    /* height: 450px; */
    overflow: auto;
    /* width : 100%; */
    /* display: block; */
}

#tbodyEquipeProjet{
    height: 200px;
    overflow: auto;
    width : 100%;
    display: block;
}

#modifEquipe {
    border-radius: 10px;
    border: 3px solid rgb(216, 214, 214);
    height: 800px;
    max-height: 800px;
    width : 25%;
    float : right;
    margin-left: 0%;
    margin-right: 5%;
    overflow: auto;
}

.infoEquipe
{
    margin-top : 5%;
    width : 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#leftNavBar{
    height: 95vh;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: white;
    /* background: linear-gradient(to bottom, black, white); */
}

.titreTable{
    background: linear-gradient(to right, rgba(0, 115, 255, 0.353),rgb(214, 230, 253));
}

.pageGererEntreprise{
    background: linear-gradient(to right,rgb(231, 239, 251), white);
}

.border-bottom {
    border-bottom: 1px rgb(216, 214, 214) solid;
}

.hover:hover{
    background-color: #eeeff0;
}


/* -------------- 2. ------------- */

.vignette {
    border-radius: 45px !important;
    background: linear-gradient(145deg, #f0f0f0, #ffbf0f) !important;
    box-shadow:  19px 19px 38px #727272,
                -19px -19px 38px #ffffff !important;
}

.vignette:hover {
    background: linear-gradient(40deg, #f0f0f0, #ffbf0f) !important;
}
.vignette:active {
    background: linear-gradient(40deg, #ffbf0f,#f0f0f0 ) !important;
}
.vignette1 {
    border-radius: 45px !important;
    background: linear-gradient(145deg, #f0f0f0, #ff0202) !important;
    box-shadow:  19px 19px 38px #727272,
                -19px -19px 38px #ffffff !important;
    background-color: white;
    transition-property: background-color;
    transition-duration: 3s;
}

.vignette1:hover {
    background: linear-gradient(40deg, #f0f0f0, #ff0202) !important;
}
.vignette2 {
    border-radius: 45px !important;
    background: linear-gradient(145deg, #f0f0f0, #0099ff) !important;
    box-shadow:  19px 19px 38px #727272,
                -19px -19px 38px #ffffff !important;
}
.vignette2:hover {
    background: linear-gradient(40deg, #f0f0f0, #0099ff) !important;
}
.vignette3 {
    border-radius: 45px !important;
    background: linear-gradient(145deg, #f0f0f0, #d400ff) !important;
    box-shadow:  19px 19px 38px #727272,
                -19px -19px 38px #ffffff !important;
}

.vignette3:hover {
    background: linear-gradient(40deg, #f0f0f0, #d400ff) !important;
}

a {
    text-decoration: none !important;
}

.aVignette {
    color: black;
}

.aVignette:hover {
    color: black;
}

.titreInfoEquipe {
    text-align: center;
    color: white;
    text-shadow: 0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black,0 0 4px black;
}

.profile-section {
    border: solid rgb(190, 190, 190) 1px;
    
    border-radius: 15px;
}


/* -------------- 3. ------------- */

.sticker {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    height:60px;
}

.sticker-deep {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color: rgba(190, 190, 240, 0.125);
    height:60px;
}

.profile-sticker {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    height:100px;
}


/* -------------- 4. ------------- */

.project-column {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:15px; 
    background-color:#f8f9fa; 
    width: 280px;
    margin-right: 20px;
    padding:unset;
}

.column-title {
    height: 50px;
    width: 100%;
    border-bottom: 1px rgb(216, 214, 214) solid;
}

.add-task-btn {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:5px;
    float:right;
    line-height: 80%;
}

.column-content {
    height: 93%;
    overflow-y: auto;
}

.task-bubble {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius:5px;
    background-color: white;
    height: 100px;
    width: 260px;
}

.task-bubble-input {
    height: 100%;
    width: 100%;
}

.task-bubble-input:focus,.task-bubble-input {
    -webkit-appearance: none;
    border: none;
    outline: none;
}